.main-card-container {
    background-color: lightblue!important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.327);
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: #5c97c124;
}

.bg-success, .bg-danger {
    color: white!important;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.final-headline {
    font-size: 40px;
    margin-bottom: 24px;
}

.button-center{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}